body {
margin: 0;
box-sizing: border-box;
}

header {
background-color: #1F2937;
display: flex;
flex-direction: column;
align-items: center;
}

.container {
display: flex;
justify-content: space-between;
padding: 5px;
width: 70%;
margin-top: 10px;
}

.header-logo {
font-size: 24px;
color: #F9FAF8;

}

.links {
margin: 0;
display: flex;
list-style-type: none;
}

a {
text-decoration: none;
font-size: 18px;
color: #E5E7EB
}

li {
align-self: center;
padding: 5px;
margin-left: 10px;

}


.advert {
width: 45%;

}

h1 {
color: #F9FAF8;
font-weight: 900;
font-size: 48px;
margin: 0;
}

p {
font-size: 18px;
color: #E5E7EB;
}

button {
color: white;
background-color: blue;
border-radius: 10px;
padding: 5px 10px;
}

#head-img {
width: 45%;
margin-left: auto;
border: none;
border-radius: 0;
}

.box {
display: flex;
width: 70%;
margin: 80px 0px;
}

.catbox {
height: 400px;
display: flex;
flex-direction: column;
margin: auto;
align-items: center;
}

h2 {
font-size: 36px;
font-weight: 900;
color: #1F2937;
}

.cat {
display: flex;
width: 60%;
justify-content: space-between;
}


.text {
text-align: center;
width: 150px;
}

img {
border: 3px solid blue;
border-radius: 10px;
}

.testimony {
height: 400px;
background-color: #E5E7EB;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

#test {
font-size: 36px;
font-style: italic;
color: #1F2937;
width: 60%;
margin-bottom: 0;
}

.name {
font-weight: 900;
text-align: right;
color: black;
margin-top: 0;
width: 60%;

}
